// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
$fg-color: #{"@theme_fg_color"};
$bg-color: #{"@theme_bg_color"};

window.Bar {
    background: transparent;
    color: $fg-color;
    font-weight: bold;

    >centerbox {
        background: $bg-color;
        border-radius: 10px;
        margin: 8px;
    }
}

button {
    margin: 2px;
    border-radius: 8px;
}

.Buttons button {
    padding-left: 8px;
    padding-right: 10px;
    font-size: 1.5em;
}

.Workspaces button {
    font-size: 1.5em;
    padding-left: 7px;
    padding-right: 11px;
}

.Workspaces .active {
    background-image: unset;
    background-color: $fg-color;
    color: $bg-color;
}

.Workspaces .focus {
    color: #bb66ff;
}

